{"openapi":"3.0.0","info":{"title":"Xano Metadata API (beta)","description":"The \u003Ca href=\u0022https://docs.xano.com/metadata-api\u0022 target=\u0022_blank\u0022\u003EMetadata API\u003C/a\u003E\nis currently in \u003Cstrong\u003Ebeta\u003C/strong\u003E and is the next\n  evolution of the Developer API. It provides support\nto programatically manage your Xano schema and content and uses Access Tokens to\ncontrol access.\n\u003Cbr /\u003E\u003Cbr /\u003E\nThis portion of the Metadata supports retrieving details on the instances linked to your Xano account. Additional Metadata API functionality is available within the \u003Cstrong\u003Emeta_api\u003C/strong\u003E key of each instance.","version":"0.0.1"},"servers":[{"url":"https://app.xano.com/api:meta"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/instance/{name}":{"get":{"summary":"get instance","description":"get instance\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["instance"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"name","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"","default":"x1234-4567-8901"},"display":{"type":"string","description":"","default":"My Instance"},"xano_domain":{"type":"string","description":"","default":"x1234-4567-8901.n7.xano.com"},"custom_domain":{"type":"string","description":""},"meta_api":{"type":"string","description":"","default":"https://x1234-4567-8901.n7.xano.com/api:meta"},"meta_swagger":{"type":"string","description":"","default":"https://x1234-4567-8901.n7.xano.com/apispec:meta?type=json"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/instance":{"get":{"summary":"browse instances","description":"browse instances\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["instance"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"","default":"x1234-4567-8901"},"display":{"type":"string","description":"","default":"My Instance"},"xano_domain":{"type":"string","description":"","default":"x1234-4567-8901.n7.xano.com"},"custom_domain":{"type":"string","description":""},"meta_api":{"type":"string","description":"","default":"https://x1234-4567-8901.n7.xano.com/api:meta"},"meta_swagger":{"type":"string","description":"","default":"https://x1234-4567-8901.n7.xano.com/apispec:meta?type=json"}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/snippet/{canonical}/token/{token}":{"delete":{"summary":"deletes a snippet token","description":"deletes a snippet token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["snippet / token"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"canonical","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"token","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"updates a snippet token","description":"updates a snippet token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["snippet / token"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"canonical","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"token","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"created_at":{"type":"string","format":"timestamptz","description":"","default":"2023-05-09 21:31:20+0000"},"updated_at":{"type":"string","format":"timestamptz","description":"","default":"2023-05-09 21:31:20+0000"},"token":{"type":"string","description":"","default":"OL3T4JYM"},"max_installs":{"type":"integer","format":"int64","description":"","default":23},"current_installs":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"max_installs":{"type":"integer","format":"int64","description":""},"current_installs":{"type":"integer","format":"int64","description":""}},"required":["max_installs","current_installs"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"max_installs":{"type":"integer","format":"int64","description":""},"current_installs":{"type":"integer","format":"int64","description":""}},"required":["max_installs","current_installs"]}}}}}},"/snippet/{canonical}/token":{"get":{"summary":"returns a list of tokens for a snippet","description":"returns a list of tokens for a snippet\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["snippet / token"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"canonical","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created_at":{"type":"string","format":"timestamptz","description":"","default":"2023-05-09 21:31:20+0000"},"updated_at":{"type":"string","format":"timestamptz","description":"","default":"2023-05-09 21:31:20+0000"},"token":{"type":"string","description":"","default":"OL3T4JYM"},"max_installs":{"type":"integer","format":"int64","description":"","default":23},"current_installs":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"creates a new install token on the snippet","description":"creates a new install token on the snippet\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["snippet / token"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"canonical","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"created_at":{"type":"string","format":"timestamptz","description":"","default":"2023-05-09 21:31:20+0000"},"updated_at":{"type":"string","format":"timestamptz","description":"","default":"2023-05-09 21:31:20+0000"},"token":{"type":"string","description":"","default":"OL3T4JYM"},"max_installs":{"type":"integer","format":"int64","description":"","default":23},"current_installs":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"max_installs":{"type":"integer","format":"int64","description":""}},"required":["max_installs"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"max_installs":{"type":"integer","format":"int64","description":""}},"required":["max_installs"]}}}}}},"/snippet/{canonical}":{"get":{"summary":"get a specific snippet by ID","description":"get a specific snippet by ID\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["snippet"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"canonical","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"canonical":{"type":"string","description":"","default":"kRG3t_-i"},"created_at":{"type":"string","format":"timestamptz","description":"","default":"2023-03-23 23:32:56+0000"},"updated_at":{"type":"string","format":"timestamptz","description":"","default":"2023-03-27 17:58:48+0000"},"name":{"type":"string","description":"","default":"Token Share Test"},"review":{"type":"string","description":"","default":"pending"},"review_exception":{"type":"string","description":""},"install_access":{"type":"string","description":"","default":"public"},"install_access_description":{"type":"string","description":""},"featured":{"type":"boolean","description":""},"verified":{"type":"boolean","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"update settings on the snippet","description":"update settings on the snippet\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["snippet"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"canonical","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"canonical":{"type":"string","description":"","default":"kRG3t_-i"},"created_at":{"type":"string","format":"timestamptz","description":"","default":"2023-03-23 23:32:56+0000"},"updated_at":{"type":"string","format":"timestamptz","description":"","default":"2023-03-27 17:58:48+0000"},"name":{"type":"string","description":"","default":"Token Share Test"},"review":{"type":"string","description":"","default":"pending"},"review_exception":{"type":"string","description":""},"install_access":{"type":"string","description":"","default":"public"},"install_access_description":{"type":"string","description":""},"featured":{"type":"boolean","description":""},"verified":{"type":"boolean","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"install_access":{"type":"string","description":"","enum":["public","link","token"]},"install_access_description":{"type":"string","description":""}},"required":["install_access","install_access_description"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"install_access":{"type":"string","description":"","enum":["public","link","token"]},"install_access_description":{"type":"string","description":""}},"required":["install_access","install_access_description"]}}}}}},"/snippet":{"get":{"summary":"list snippets owned by the authenticated user","description":"list snippets owned by the authenticated user\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["snippet"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"items":{"type":"array","items":{"type":"object","properties":{"canonical":{"type":"string","description":"","default":"kRG3t_-i"},"created_at":{"type":"string","format":"timestamptz","description":"","default":"2023-03-23 23:32:56+0000"},"updated_at":{"type":"string","format":"timestamptz","description":"","default":"2023-03-27 17:58:48+0000"},"name":{"type":"string","description":"","default":"Token Share Test"},"review":{"type":"string","description":"","default":"pending"},"review_exception":{"type":"string","description":""},"install_access":{"type":"string","description":"","default":"public"},"install_access_description":{"type":"string","description":""},"featured":{"type":"boolean","description":""},"verified":{"type":"boolean","description":""}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}}}}